.status {
    background-color: gray;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    padding-top: 5px;
}

.error {
    color: red;
}

.select {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    background-color: var(--bs-tertiary-bg);
    border-radius: 0.375rem;
}

.status.active {
    background-color: chartreuse;
}

.notify-form {
    width: 200px;
}

.messager {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1px 1px 1px 1px;
}

.single-notif {
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
    align-items: center;
}

.notif-message {
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    border: 1px solid black;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
}

#notif-exist {
    background-color: red;
    top: 8px;
    right: -4px;
    padding: 5.4px;
    animation-name: notif_animation;
    animation-duration: 2.2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes notif_animation {
    from {background-color: transparent;}
    to {background-color: red;}
}

.nav-link {
    margin-right: 4px;
    font-weight: 500;
    color: black;
}

.nav-link.active {
    color: blue;
}

@media (max-width: 767px) {
    .nav-link .nav-link.active {
        font-weight: 600;
    }
}

.page-link {
    color: black;
}


.offcanvas-md, .offcanvas {
    --bs-offcanvas-height: 100vh;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(2px);
}

.offcanvas-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-control {
    padding: 0.375rem 0.75rem !important;
}

.chat-container {
    height: 600px;
}

.my-message {
    background-color: #effdde;
}
